.c-call-to-action {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	padding: var(--component-padding) 0;

	&__content {
		h1, h2, h3, h4, h5, p, li, a {
			color: var(--light-light-text-color);
		}
	}

	.n-button {

	}
}