.c-navigation {
	position: absolute;
	z-index: 4;
	top: 0;
	left: 0;
	padding: 20px;
	width: 100%;
	height: 70px;

	&__inner-wrapper {
		display: flex;
		justify-content: space-between;
		align-items: center;
		margin: 0 auto;
		width: 100%;
		max-width: 1140px;
	}

	&__nav-items {
		display: flex;
		margin: 0;
		padding: 0;
		list-style: none;

		li {

		}

	}

	&__nav-item {
		margin: 0 3px;
		padding: 10px;
		border-bottom: 1px solid rgba(255, 255, 255, 0);
		color: rgba(255, 255, 255, 0.8);
		transition: .2s ease-in-out;
		text-decoration: none;
		font-size: 13px;
		font-weight: 500;

		&:hover {
			border-bottom: 1px solid rgba(255, 255, 255, 0.3);
		}

		&--button {
			border: 1px #ccc solid;
			border-radius: 5px;

			&:hover {
				background: #fff;
				color: #4182e4;
			}
		}
	}

	&__label {
		text-transform: uppercase;
	}

	img {
		width: 100%;
		max-width: 95px;
		object-fit: contain;
	}
}