* {
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
    text-rendering: optimizeLegibility;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
    font-size: 10px;
}

html,
body {
    --font: var(--body-font), "Helvetica Neue", "Helvetica", "Arial";
    --component-padding: 100px;
    --navigation-offset: 70px;
    position: relative;
    margin: 0;
    font-family: var(--font);
    color: var(--text-color);
    overflow-x: hidden;
    -webkit-overflow-scrolling: touch;

    &.dark {
        --page-color: var(--dark-page-color);
        --component-alt-color: var(--dark-component-alt-color);
        --brand-color: var(--dark-brand-color);
        --headings-color: var(--dark-headings-color);
        --text-color: var(--dark-text-color);
        --light-text-color: var(--dark-light-text-color);
        --link-color: var(--dark-link-color);
        --button-fill: var(--dark-button-fill);
        --button-fill-text: var(--dark-button-fill-text);
        --tag-color: var(--dark-tag-color);
        --footer-color: var(--dark-footer-color);
        --footer-link-color: var(--dark-footer-link-color);
        --footer-link-hover-color: var(--dark-footer-link-hover-color);
    }

    h1, h2, h3, h4, h5 {
        color: var(--headings-color);
    }

    h1 {
        margin: 0;
        font-weight: 300;
        font-size: 3.7em;
    }

    h2 {
        font-weight: 400;
        font-size: 3.6em;
        margin: 0 0 30px 0;
    }

    h3 {
        margin: 0;
        font-size: 1.9em;
        font-weight: 400;
    }

    h4 {
        margin: 20px 0 10px 0;
        font-size: 1.6em;
        font-weight: 300;
    }

    p, ul, ol, li, a {
        font-weight: 400;
    }

    p {
        font-size: var(--content-font-size);
        color: var(--text-color);
        margin-bottom: 20px;
        line-height: 140%;
    }

    img {
        max-width: 100%;
        height: auto;
        object-fit: contain;
    }

    strong {
        font-weight: 700;
    }

    a {
        text-decoration: none;
        color: var(--link-color);

        &:hover {
            text-decoration: underline;
        }
    }

    blockquote {
        margin: 25px var(--s-20-40) 25px var(--s-20-40);
        padding: 15px 15px 15px 45px;
        box-sizing: border-box;
        border-left: 4px solid rgba(0,0,0,0.2);
        background-color: rgba(0,0,0,0.04);
    }
}


.component-wrapper {
    &--alt {
        background-color: var(--component-alt-color);
    }

    &--branded {
        background-color: var(--brand-color);
    }
}

.component {
    position: relative;
    margin: 0 auto;
    padding-left: var(--s-20-40);
    padding-right: var(--s-20-40);
    // background-color: var(--page-color);
    max-width: var(--breakpoint-max);
    transition: filter 0.1s ease-in-out, opacity 0.1s ease-in-out; // For CMS editor links

    &:before, &:after {
        content: '';
        display: block;
        position: absolute;
        top: 0;
        left: -100%;
        width: 100%;
        height: 100%;
        background-color: inherit;
    }

    &:after {
        left: unset;
        right: -100%;
    }

    &--full {
        padding-left: 0;
        padding-right: 0;
        max-width: none;
    }
    
    &--branded {
        background-color: var(--brand-color);
    }
}

// Layouts

.body-wrapper {
   padding-top: var(--navigation-offset);
   background-color: var(--page-color);
}

.layout {
    margin: 0 auto;
    padding: var(--component-padding) var(--s-20-40);

    &--post {
        max-width: 750px;
    }
}

.cms-editor-active {
// CMS Styles
    .cms-editor-link {
        position: relative;
        outline: unset !important;

        &:before {
            outline: 8px solid transparent;
            transition: outline 0.1s ease-in-out;
        }

        &:after {
            opacity: 0;
            transition: opacity 0.1s ease-in-out;
        }
        
        &:hover {
            outline: unset !important;

            &:before {
                content: '';
                position: absolute;
                z-index: 9;
                top: 50%;
                left: 0;
                right: 0;
                transform: translateY(-50%);
                margin: 0 auto;
                width: 95%;
                height: 100%;
                outline: 8px solid #ffc949;
            }

            &:after {
                content: 'Edit Component';
                position: absolute;
                top: 50%;
                transform: translateY(-50%);
                left: 0;
                right: 0;
                margin: 0 auto;
                display: block;
                background: #ffc949;
                z-index: 999999;
                filter: blur(0);
                text-align: center;
                width: 125px;
                padding: 12px 20px;
                border: 1px solid #e3b23e;
                border-radius: 6px;
                box-shadow: 0px 0px 28px rgba(0,0,0,0.2);
                opacity: 1;
            }

            .component {
                filter: grayscale(100%);
                opacity: 0.2;
            }
        }
    }
}

.dark-mode-toggle {
    .n-button {
        position: absolute;
        bottom: 15px;
        right: 15px;
        font-size: 1.2em;
        padding: 6px 8px;
        cursor: pointer;
        user-select: none;

        svg {
            padding-right: 8px;
        }
    }
}
    
@import './navigation';
@import './footer';
@import './archive-layout';