{% assign c = "c-image-and-text-blocks" %}

<div class="{{c}}">
	{% for block in include.blocks %}
		<div class="{{c}}__block
					{{c}}__block--{{ include.content_arrangement | slugify }}
					component">
			<div class="{{c}}__content-wrapper">
				<div class="{{c}}__heading">
					{{ include.heading_html }}
				</div>
				<div class="{{c}}__content">
					{{ include.content_html }}
				</div>
			</div>
			<div class="{{c}}__image-wrapper">
				<img src="{{ include.image }}" alt="{{ include.heading_html | strip_html }}" />
			</div>
		</div>
	{% endfor %}
</div>