.c-post-navigation {
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin: 16px 0;

	&__option {
		font-size: 1.4em;
		color: var(--link-color);

		&--prev {

		}

		&--next {

		}
	}
}