.c-image-with-text {
	display: flex;
	flex-flow: row wrap;
	align-items: center;

	@media (max-width: 900px) {
		flex-direction: column;
	}

	&--right {
		flex-flow: row-reverse;
	}

	&__content-wrapper {
		flex: 1 50%;
		padding: 0 20px;
	}

	&__heading {

	}

	&__image {

	}

	&__image-wrapper {
		flex: 1 50%;
		padding: 0 20px;
		img {
			margin: 0 auto;
			width: 100%;
			object-fit: contain;
		}
	}
}