{% assign c = "c-navigation" %}
{% assign nav = site.data.navigation %}

<div id="js-nav"
	 class="{{c}}">
	<div class="{{c}}__inner-wrapper">
		<a href="/">
			<img src="{{ nav.logo_image }}" alt="{{ site.data.general_settings.website_name }}" />
		</a>
		<ul class="{{c}}__nav-items">
			{% for item in nav.navigation_items %}
				<li>
					<a class="{{c}}__nav-item
							  {{c}}__nav-item--{{ item.link_type | slugify }}"
					   href="{{ item.link_url }}">
					   <span class="{{c}}__label">{{ item.label }}</span>
					</a>
				</li>
			{% endfor %}

			<li>
				<a id="js-mobile-toggle"
				   class="{{c}}__nav-item
						  {{c}}__nav-item--mobile-toggle"
				   href="#">
				   <span class="{{c}}__label">☰</span>
				</a>
			</li>
		</ul>
	</div>
</div>

<script>
	const navToggle = document.getElementById('js-mobile-toggle');
	const nav = document.getElementById('js-nav');
	
	function toggleNav() {
		nav.classList.toggle('c-navigation--open');
	}

	navToggle.addEventListener('click', toggleNav);
</script>