{% assign c = "c-image-and-text-blocks" %}

<div class="{{c}}
			component
			component-attributes">
	{% for block in include.blocks %}
		<div class="{{c}}__block
					{{c}}__block--{{ block.content_arrangement | slugify }}">
			<div class="{{c}}__content-wrapper">
				<div class="{{c}}__heading">
					{{ block.heading_html }}
				</div>
				<div class="{{c}}__content">
					{{ block.content_html }}
				</div>
			</div>
			<div class="{{c}}__image-wrapper">
				<img src="{{ block.image }}" alt="{{ block.heading_html | strip_html }}" />
			</div>
		</div>
	{% endfor %}
</div>